Webapp/aqi.py
Webapp/cricket.py
Webapp/news.py
Webapp/weather.py
Webapp/qrcode.py

Projects/FileShare
Class-11
Pratice/

AST/

venv/
.env/

*.pyc
__pycache__/

*.log
*.swp
*~
.DS_Store
Thumbs.db

.vscode/
