<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/about.css">
</head>

<body>
    <header class="text-center">
        <h1 class="display-4">Welcome to File Share</h1>
        <p class="lead">Effortless File Management for Seamless Collaboration</p>
    </header>

    <section class="container mt-5">
        <h2 class="mb-4">Discover the Power of File Share</h2>
        <p class="lead">File Share is your all-in-one solution for efficient and secure file management.
            Here&apos;s what sets us apart:</p>
        <ul>
            <li><strong>Efficient Downloads:</strong> Access a diverse range of resources, from documents to
                multimedia, with just a few clicks.</li>
            <li><strong>Secure Uploads:</strong> Share your files confidently, contributing to a collaborative
                and dynamic online community.</li>
            <li><strong>User-Friendly Interface:</strong> Navigate with ease through our thoughtfully designed
                platform for a smooth and efficient file-sharing experience.</li>
            <li><strong>Robust Security:</strong> Your files are handled with the utmost security. We use
                advanced encryption and security measures to ensure the confidentiality of your data.</li>
            <li><strong>Collaborative Workspaces:</strong> Create shared spaces for projects, making it easy for
                teams to collaborate and share files in real-time.</li>
            <li><strong>Version Control:</strong> Keep track of file versions, making it simple to revert to
                previous states or review changes in a collaborative environment.</li>
        </ul>
    </section>

    <section class="container mt-5">
        <div class="text-center">
            <h2 class="mb-4">About Me</h2>
            <p class="lead">Hello, I&apos;m Prem Singh and I&apos;m 15 years old. I bring a wealth of experience
                and a dedication to providing you with a seamless file-sharing experience through File Share. This
                platform is more than just a project; it&apos;s a reflection of my commitment to efficiency,
                security, and collaboration in the digital realm. Thank you for choosing File Share for your file
                management needs.</p>
        </div>
    </section>

    <footer class="text-center">
        <p>Contact: <a href="mailto:Itz_Prem_Singh@duck.com" class="text-white">Itz_Prem_Singh@duck.com</a></p>
    </footer>

</body>

</html>