<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Download Files</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/style/download.css" />
  </head>

  <body class="d-flex align-items-center justify-content-center vh-100">
    <div class="container p-5 rounded shadow-lg">
      <div class="mb-3 scrollable">{{ fileList }}</div>
      <div class="button-down">
        <button
          class="btn btn-primary"
          id="downloadButton"
          onclick="downloadFiles()"
          disabled="true"
        >
          Download
        </button>
      </div>
    </div>

    <script src="/bootstrap/javascript/bootstrap.bundle.min.js"></script>
    <script src="/static/script/download.js"></script>
    <script src="/static/script/initilize.js"></script>
  </body>
</html>
