<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/error.css">
</head>

<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="container rounded shadow-lg text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="error-heading">404 - Page Not Found</h1>
                <p class="error-text">Sorry, the page you are looking for might be in another castle.</p>
                <p class="suggestions">Here are some things you can try:</p>
                <ul class="list-unstyled">
                    <li>Check the URL for typos</li>
                    <li>Return to the <a href="/">home page</a></li>
                    <li>Contact the website administrator</li>
                </ul>
                <p>If you think this is a mistake, please <a href="mailto:Itz_Prem_Singh@duck.com">contact us</a>.</p>
            </div>
        </div>
    </div>

    <script src="/bootstrap/javascript/bootstrap.min.js"></script>
    <script src="/static/script/initilize.js"></script>
</body>

</html>