@import url("body.css");
@import url("container.css");

.scrollable {
    overflow-y: auto;
    max-height: 60vh;
}

.file-label {
    cursor: pointer;
    margin-bottom: 5px;
    word-wrap: break-word;
    padding: 10px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.selected-file {
    background-color: #007bff;
    border-color: #0056b3;
}

.button-down {
    text-align: center;
    margin-top: 20px;
}