@import url("body.css");
@import url("container.css");

.error-heading {
    font-size: 4rem;
    color: #dc3545;
}

.error-text {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 30px;
}

.suggestions {
    margin-top: 30px;
}