@import url("body.css");
@import url("container.css");

.container {
  position: relative;
}

.btn {
  position: absolute;
  bottom: 20px;
}

.btn-left {
  left: 20px;
}

.btn-right {
  right: 20px;
}

.form-control {
  height: 30px;
}