<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Tic Tac Toe!</h1>
      <p>
        Get ready to challenge your skills in this classic game. It's Xs vs Os.
        Who will win?
      </p>
    </div>
  </body>
</html>
